{% extends "bootstrap/base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">                    
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="\alterar\{{None}}">Inserir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <br/>          
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th>nome</th>
                <th>salario</th>
                <th>sexo</th>
                <th>num_filhos</th>
                <th>biografia</th>
                <th>senha</th>
                <th>login</th>
            </tr>
            </thead>
            <tbody>
                {% for linha in lista %}
                <tr>
                    <th scope="row">{{ linha.codigo }}</th>
                    <td>{{ linha.nome }}</td>
                    <td>{{ linha.salario }}</td>
                    <td>{{ linha.sexo }}</td>
                    <td>{{ linha.num_filhos }}</td>
                    <td>{{ linha.biografia }}</td>
                    <td>{{ linha.senha }}</td>
                    <td>{{ linha.login }}</td>
                    <td><button class="lista"><a href="/deletar/{{ linha.codigo }}">Deletar</a></button></td>
                    <td><button class="lista"><a href="/alterar?cod={{ linha.codigo }}">Alterar</a></button></td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
{% endblock %}
