{% extends "template.html" %}
{% block conteudo %}
    <div>
            {{ "Nome de usuario: " + session['login']  }}
            <a href="/logout">Sair</a>
    </div>
    <br><br>
    <table>
        <tr>
            <td>codigo</td>
            <td>titulo</td>
        </tr>
        {% for linha in ideia %}
            <tr>
                <td>{{ linha.cod }}</td>
                <td>{{ linha.titulo }}</td>
                <td><a href="/sobre/{{linha.cod}}">Sobre</a></td>
            </tr>
        {% endfor %}
    </table><br>
    <button><a href="/inserir">Inserir nova ideia</a></button>

{% endblock %} 