{% extends "template.html" %}
{% block conteudo %}
    <div>
            {{ "Nome de usuario: " + session['login']  }}
            <a href="/logout">Sair</a>
    </div>
    <h1>insira uma ideia</h1>
    <form action="/update" method="post">
        <label>Titulo:</label>
        <input type="text" name="titulo" value="{{lis.titulo}}" required>
        <br>
        <label>Descrição:</label>
        <input type="text" name="descricao" value="{{lis.descricao}}" required>
        <br>
        <label class="hidden" >Codigo</label>
        <input class="hidden" type="text" name="cod" readonly=“true” value="{{lis.cod}}">
        <br>
        <input type="submit" value= "Entrar">
    </form>
{% endblock %}  