@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #000;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo img{
    max-width: 150px;
}
header .navegacao{
    display: flex;
}
.navegacao li{
    list-style: none;
    margin: 0 10px;
}
.navegacao li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.navegacao li:hover a{
    color: #de0611;
}

.buscar{
    position: relative;
    width: 300px;
    height: 40px;
}
.buscar input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}
.buscar input::placeholder{
    color: #fff;
}
.buscar .fa-search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #fff;
    border-right: 1px solid #fff;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;  /* Mudança */
}
.banner .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo{
    position: relative;
    z-index: 1;
    top: 10vw;
    max-width: 550px;
}
.titulo{
    max-width: 350px;
}
.banner .conteudo h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
.banner .conteudo h4 span{
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.banner .conteudo h4 span:first-child{
    padding-left: 0;
}
.banner .conteudo h4 span:first-child{
    padding-left: 0;
}
.banner .conteudo h4 span:last-child{
    border-right: none;
}

.banner .conteudo h4 span i{
    background: #de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}
.banner .conteudo p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    padding: 10px 0 20px 0;
}
.banner .conteudo .buttons{
    position: relative;
}

.banner .conteudo .buttons a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #de0611;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;  
    border-radius: 5px; 
    padding: 10px;
}
.banner .conteudo .buttons a:nth-child(2){
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.banner .conteudo .buttons a:hover:nth-child(2){
    background: #de0611;
}

.play{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}
.play img{
    margin-right: 20px;
    max-width: 50px;
}
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    outline: none;
}
.fechar{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 32px;
}


@media (max-width:991px){
    header{
        padding: 20px 50px;
        flex-direction: column;
    }
    .navegacao{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0; 
    }
    .banner{
        padding: 100px 50px;
    }
    .banner .play{
        left: 50px;
        font-size: 1em;
    }
    .play img{
        margin-right: 10px;
        max-width: 40px;
    }
    .trailer .video{
        max-width: 90%;
    }
}
@media (max-width:600px){
    header{
        padding: 20px;
    }
    .buscar{
        width: calc(100% - 20px);
        position: relative;
        height: 40px;
    }
    .banner{
        padding: 220px 20px 120px;
    }
    .banner .play{
        left: 20px;
        font-size: 1em;
        bottom: 30px;
    }
    .conteudo
}